extends includes/_layout

block title
  title Main Page 

block content
  main.main
    section.section-intro.container
      .section-intro__image 
        p.section-intro__text 
          | Find Your New<br>Modern Apartment
      .section-intro__contacts
        p.section-intro__contacts_phone 
          +svg-icon('phone', 'intro__icon')
          span (000)&nbsp;555&nbsp;33&nbsp;22
        p.section-intro__contacts_address 
          +svg-icon('map', 'intro__icon')
          span Melbourn, Australia

    section.section-slider
      .container-slider
        h1.container-slider__title Adatipive Slider
        .slider
          .slider-line
            each image in images
              .slider__item
                img(src= '@img/' + image, alt= image).slider__image
        .slider__controls
          button.slider__controls__btn.slider__controls__btn_prev &#8249;
          button.slider__controls__btn.slider__controls__btn_next &#8250;

    section.section-stats.container
      .section-stats__text
        h2.section-stats__text_title Our's Company <br>
        p.section-stats__text_article Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non dignissimos quae totam dolores aperiam ut. Velit commodi rerum adipisci architecto magnam laudantium, eum et expedita asperiores officiis iusto reprehenderit deleniti. Alias, tempora.
        p.section-stats__text_article Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non dignissimos quae totam dolores aperiam ut. Velit commodi rerum adipisci architecto magnam laudantium, eum et expedita asperiores officiis iusto reprehenderit deleniti. Alias, tempora.
      .section-stats__numbers
        .section-stats__numbers_line
          .section-stats__numbers_square
            span.section-stats__numbers_square_value 7231
            span.section-stats__numbers_square_descr Appartments
          .section-stats__numbers_square
            span.section-stats__numbers_square_value 7231
            span.section-stats__numbers_square_descr Appartments
        .section-stats__numbers_line
          .section-stats__numbers_square
            span.section-stats__numbers_square_value 7231
            span.section-stats__numbers_square_descr Appartments
          .section-stats__numbers_square
            span.section-stats__numbers_square_value 7231
            span.section-stats__numbers_square_descr Appartments

    section.section-apartments
      .section-apart.container
        h2.section-apart__title More then 500+<br>Apartaments of Rent
        .section-apart__cards
          each i in [1, 2, 3, 4, 5, 6]
            .section-apart__card
              img(src="@img/F01_01.jpg", alt="apartament").section-apart__card_image
              .section-apart__card_container
                p.section-apart__card_text Lorem ipsum dolor sit amet consectetur.
                .section-apart__card_info
                  .section-apart__card_price $3,500
                  .section-apart__card_desc 
                    span 🚿 2 BA
                    span 🛌 2 BD
        .section-apart__controls
          form.section-apart__controls_search
            input(type="text", placeholder="Search Locations").section-apart__controls_input
            input(type="submit", value="Search").section-apart__controls_input
          button.section-apart__btn View All Apartments

    section.section-steps.container
      h2.section-steps__title How It Work?
      p.section-steps__text 
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      p.section-steps__text.mb-7 
        | Lorem ipsum dolor sit amet consectetur adipisicing elit.<br/>Nobis, magni ducimus.
      .section-steps__content
        .section-steps__card#card01
          p.section-steps__number 01
          h4.section-steps__desc
            span 01
            | Find Your Location
          p.section-steps__info
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum voluptates perspiciatis unde expedita harum.
          p.section-steps__info_last
            | Find Location
        .section-steps__card#card01
          p.section-steps__number 02
          h4.section-steps__desc
            span 02
            | Find Your Location
          p.section-steps__info
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum voluptates perspiciatis unde expedita harum.
          p.section-steps__info_last
            | Find Location
        .section-steps__card#card01
          p.section-steps__number 03
          h4.section-steps__desc
            span 03
            | Find Your Location
          p.section-steps__info
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum voluptates perspiciatis unde expedita harum.
          p.section-steps__info_last
            | Find Location

    section.section-services.container
      h2.section-services__title Services
      p.section-services__text
        | Lorem ipsum dolor sit amet consectetur.
      p.section-services__text
        | Lorem ipsum dolor sit amet.
      .section-services__content
        .section-services__image
          img(src="@img/F01_01.jpg", alt="image").section-services__image_img
        .section-services__desc
          h4.section-services__desc_title Renting
          p.section-services__desc_text
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non enim libero vero dolor, quasi quis numquam. Dolorum blanditiis, pariatur soluta consequatur illo laboriosam?
          h4.section-services__desc_title Renting
          p.section-services__desc_text
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non enim libero vero dolor, quasi quis numquam. Dolorum blanditiis, pariatur soluta consequatur illo laboriosam?
          h4.section-services__desc_title Renting
          p.section-services__desc_text
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non enim libero vero dolor, quasi quis numquam. Dolorum blanditiis, pariatur soluta consequatur illo laboriosam?
        
    section.section-agents
      .container
        h2.section-agents__title Meet Our&nbsp;Agents
        p.section-agents__text
          | Lorem ipsum, dolor sit amet consectetur adipisicing.
        p.section-agents__text
          | Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br/>Sed, placeat. Laboriosam, iste!
        .section-agents__cards
          each i in [1, 2, 3]
            .section-agents__card
              img(src="@img/agent.jpg", alt="agent").section-agents__image
              .section-agents__card_info
                p.section-agents__card_title Agent
                .section-agents__card_desc
                  p.section-agents__card_name Mr. Luke Skywalker
                  .section-agents__card_socials
                    a(href="#!").section-agents__card_socials_link
                      +svg-icon('facebook-square', 'section-agents__card_socials__icon')
                    a(href="#!").section-agents__card_socials_link
                      +svg-icon('telegram', 'section-agents__card_socials__icon')
                    a(href="#!").section-agents__card_socials_link
                      +svg-icon('linkedin', 'section-agents__card_socials__icon')

    section.section-add.container
      .section-add__line
        .section-add__image
          img(src="@img/F01_01.jpg", alt="image").section-add__image_img
          .section-add__location.section-add__location
            +svg-icon('map', 'section-add__icon')
            span Melburn, Australia
        .section-add__desc
          h3.section-add__desc_title Super Awesome Add
          p.section-add__desc_text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem in debitis autem saepe aut vel eius repudiandae maiores! Asperiores, ab sit accusamus aliquam quis rem, aspernatur molestias excepturi expedita ratione amet corporis iusto ullam obcaecati!
      .section-add__line.section-add__line_right
        .section-add__image
          img(src="@img/F01_01.jpg", alt="image").section-add__image_img
          .section-add__location.section-add__location_right
            +svg-icon('map', 'section-add__icon')
            span Melburn, Australia
        .section-add__desc.section-add__desc
          h3.section-add__desc_title.section-add__desc_title_right Super Awesome Add
          p.section-add__desc_text.section-add__desc_text_right
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem in debitis autem saepe aut vel eius repudiandae maiores! Asperiores, ab sit accusamus aliquam quis rem, aspernatur molestias excepturi expedita ratione amet corporis iusto ullam obcaecati!
      .section-add__line 
        .section-add__image
          img(src="@img/F01_01.jpg", alt="image").section-add__image_img
          .section-add__location
            +svg-icon('map', 'section-add__icon')
            span Melburn, Australia
        .section-add__desc
          h3.section-add__desc_title Super Awesome Add
          p.section-add__desc_text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem in debitis autem saepe aut vel eius repudiandae maiores! Asperiores, ab sit accusamus aliquam quis rem, aspernatur molestias excepturi expedita ratione amet corporis iusto ullam obcaecati!
          button(type='button').section-add__btn Show me more