extends includes/_layout

block title
  title MainPage 

block content 
  main.main
    .main-container
      h1.main-container__title Hello, World! 
      img(src="@img/photo.png", alt="image" class="image")