@media(max-width: 765px)
  // ----- Header ------
  #toggle-menu
    width: 100%
    clear: both
    display: flex
    justify-content: center
    background: $main-yellow
    transition: .3s linear all
    -webkit-transition: .3s linear all
    &:hover
      background: $main-yellow-dark
  #checkbox-menu:checked + label
    .header-nav__menu
      &_touch
        height: 35rem
      &_item
        opacity: 1
        visibility: visible
        padding: 0.7rem 0
        transition: .4s linear all
        -webkit-transition: .4s linear all
  .header-nav__menu
    height: 0
    &_link
      margin: 0 auto
    &_item
      display: flex
      align-self: center
      width: 95%
      opacity: 0
      visibility: hidden
    &_touch
      display: flex
      flex-direction: column
      justify-content: space-around
      align-items: center
      transition: .4s linear height
      -webkit-transition: .4s linear height
      .contacts,
      .logo
        margin-right: 0
      .logo
        font-size: 2rem
        line-height: 1

  // ----- Intro ------
  .section-intro
    margin-top: 0
    display: block
    max-width: 100%
    &__image
      background-position: bottom 5rem right 43rem
    &__text
      position: relative
      right: -2rem
      font-size: 3.5rem
    &__contacts
      width: 100%
      padding: 2rem
      justify-content: center
      column-gap: 3rem
      font-size: 1.3rem
      .intro__icon
        margin-right: 0.5rem
  
  // ----- Stats -------
  .section-stats
    margin-top: 0
    flex-direction: column
    margin-bottom: 4rem
    &__text
      padding: 2rem
      &_title
        font-size: 3rem
        margin-bottom: 1rem
      &_article
        margin-top: 0.5rem
        font-size: 1.3rem
        line-height: 1.5
    &__numbers
      margin: 0 auto
      &_square
        width: 14rem
        height: 14rem
        margin: 1rem

  // ----- Apartments ------
  .section-apart
    &__title
      margin-bottom: 4rem
      margin-left: 2rem
      font-size: 3.4rem
    &__cards
      grid-template-columns: 1fr
      justify-items: center
    &__controls
      margin-top: 4rem
      display: flex
      flex-direction: column
      align-items: center
      &_input[type="text"]
        width: 17rem
        height: 7rem
        padding-left: 3rem
      &_input[type="submit"]
        margin-left: -2px
        width: 8rem
        height: 7rem
        border-radius: 0 .5rem .5rem 0

    &__btn
      width: 25rem
      height: 7rem
      margin-top: 2rem
      border-radius: .5rem
      font-size: 1.5rem
      background: #fff
      &:hover
        background: #fafaf9
    
  // ----- Slider ------
  .container-slider
    padding: 1rem
    &__title
      font-size: 2.8rem

  // ------ Steps -------
  .section-steps
    &__title,
    &__text
      margin-left: 8%
    &__content
      flex-direction: column
      row-gap: 3rem
      justify-content: center
      align-items: center
      margin-bottom: 4rem
  .mb-7
    margin-bottom: 4rem

  // burger icons
  +burger($main-dark, 2rem)
  .burger
    &-menu__control
      position: initial
      margin-top: 1.5rem

