@import 'vars'
@import 'fonts'

*
  margin: 0
  padding: 0
  text-align: center

body
  height: 100%
  background-color: #fc4
  font-family: 'Open Sans', sans-serif
  font-size: 14px
  line-height: 1.6
  padding: 2rem
  .image
    max-width: 40%
    margin: 2rem auto 0
    border-radius: .5rem
    overflow: hidden
    box-shadow: 0 0 .8rem rgba(0, 0, 0, .5)


@import 'media'