@import './includes/vars'
@import './includes/fonts'
@import './includes/reset'
@import './includes/mixins'

html,
body
  scroll-behavior: smooth
  font-family: 'Open Sans', sans-serif
  font-size: 10px
  line-height: 1.6
  overflow-x: hidden
a
  color: inherit
body
  height: 100vh
  font-size: 1.4rem
  line-height: 1.6

.wrapper
  max-width: 110rem
  width: 100%
  margin: 0 auto

@import './includes/_header'
@import './includes/_intro'
@import './includes/_stats'
@import './includes/_slider'


@import './includes/media'