footer.footer
  .footer.container
    .footer-header
      .footer-header__logo
        h3.footer-header__title luxestate
        h3.footer-header__title Explore Real Estate
      .footer-header__search
        input(type="text", placeholder="Subscribe To Our Newsletter").footer-header__input
    .footer__line
    .footer-links
      .footer-links__logo
        h4.footer-links__subtitle luxestate
      .footer__link
        p.footer__link_name luxestate
        a(href="#!").footer__link_item Agents
        a(href="#!").footer__link_item Hunters
      .footer__link
        p.footer__link_name Company
        a(href="#!").footer__link_item About
        a(href="#!").footer__link_item FAQ
        a(href="#!").footer__link_item Contact
        a(href="#!").footer__link_item Social
      .footer__link
        p.footer__link_name products
        a(href="#!").footer__link_item Appartments
        a(href="#!").footer__link_item How It Works
      .footer__link
        p.footer__link_name Services
        a(href="#!").footer__link_item Drawing
        a(href="#!").footer__link_item Selling
        a(href="#!").footer__link_item Building
      