header.header
  nav.header-nav
    input(type="checkbox").header-nuv__input#checkbox-menu
    label(for="checkbox-menu")
      ul.header-nav__menu.header-nav__menu_touch
        li.header-nav__menu_item.logo
          a(href="#!").header-nav__menu_link luxestate
        li.header-nav__menu_item
          a(href="#!").header-nav__menu_link About
        li.header-nav__menu_item
          a(href="#!").header-nav__menu_link Appartament
        li.header-nav__menu_item
          a(href="#!").header-nav__menu_link How it Work
        li.header-nav__menu_item
          a(href="#!").header-nav__menu_link Agents
        li.header-nav__menu_item.contacts
          a(href="#!").header-nav__menu_link Contact Us
        li.header-nav__menu_item
          a(href="#!").header-nav__menu_link Join Us
        li.header-nav__menu_item
          a(href="#!").header-nav__menu_link Getting Started
      
      #toggle-menu
        .burger-menu__control
          span.burger__item
